.blueUser {
    border: 1px solid black;
    background-color: lightblue;
}

.redUser {
    border: 1px solid black;
    background-color: lightcoral;
}

.highPriority {
    color: white;
    background-color: red;
}

.priorityList {
    list-style: none;
}