<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="debug" name="LoggingConfig">
    <Appenders>
        <File name="File" fileName="${sys:catalina.base}/logs/application.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>